
@media (max-width:450px) {
    
    .aboutus-heading-container {

        padding: 70px 20px 30px;
    
    }

    .aboutus-page-heading {
        font-size: 36px;
    }
    
}

@media (max-width: 1080px){
    .aboutus-info-flex {
        flex-direction: column;
        gap:50px;
        margin-bottom: 50px;
    } 
}

@media(max-width:768px){
    .aboutus-info-subheading {
        align-self: center;
    }
}



@media (max-width: 480px){

   

    .grid-container {

        grid-template-columns: repeat(1, 1fr); /* 4 columns */
        grid-template-rows: repeat(4, 1fr);   /* 4 rows */
        gap: 15px; /* Space between items */
        
        width: 100%;
        align-items: center;
    

    }

    .grid-item {
        justify-content: center;
    }

    .grid-item-heading-flex {
        justify-content: center;
    }
  
    .map-section {
        text-align: center;
    }

    .aboutus-info-flex {
        text-align: center;
    }


    .aboutus-info-subheading {
        text-align: center;
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 600;
        color: #3C3C3C;
        padding-bottom: 15px;
      }
    
    





}