
.aboutus-heading-container {

    
    background: url('../assets/images/About Us Image/AboutUsPageImage.png');
    text-align: center;
    padding: 100px 20px 60px;
    

}

.aboutus-page-heading {
    font-size: 52px;
    font-weight: bold;
    color: rgba(255,255,255,0.9);
}

.aboutus-page-subheading {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255,255,255,0.9);
}

.about-us-info {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.aboutus-info-flex {


display: flex;
flex-direction: row;
justify-content: center;
align-items: baseline;
width: 100%;
padding-top:50px;
width:85%;
margin:0 auto;


}






.grid-item-heading-flex {
    display: flex;
    gap:10px;
    align-items: center;
}

.grid-item-heading {
    font-size: 20px;
    color:#1e1e1e;
    font-weight: 600;
    margin-bottom: 0;
}

.grid-item-content {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.grid-item-flex {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.grid-item-info {
    font-size: 16px;
    color:rgba(30, 30, 30, 0.8);
    font-weight: 600;
    margin-bottom: 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 1fr);   /* 4 rows */
    gap: 20px; /* Space between items */
    background-color: #ffffff; /* Optional background */   /* Optional border */
    width: 100%;
  }

  .grid-item {
    display: flex;
    justify-content: left;
    align-items: baseline;
    background-color: #ffffff; /* Optional background for items */
    color: white;
    font-size: 16px;
    font-weight: bold;    /* Optional rounded corners */
    padding: 10px;
  }  

  .form-info-layout {
    align-items: start;
    padding: 0 !important;
  }

  .info-input {

    padding: 16px;
    background-color: rgb(250,250,250);
    border:none;
  }

  .form-layout.form-info-layout {
    width: 100%;
  }

  .info-button {
    cursor: pointer;
    background-color: #05021F;
    color: #f3f3f3;
    border: none;
    padding: 17px 0;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    
  }


.map-section {
    width: 85%;
    margin: 0 auto;
}

.map-container {
    height: 200px;
    
    
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.075);
    margin-top:32px;
    margin-bottom: 32px;
  }
  
  .map {
    height: 100%;
    width: 100%;
  }

  .aboutus-info-subheading {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #3C3C3C;
    padding-bottom: 15px;
  }


  .contact-us-form {

width: 100%;


  }


  .form-section {

width: 100%;


  }

  .form-section form {

    width: 100%;
    
    
      }



.form-layout.form-info-layout input {

width: 100%;


}      



.form-layout.form-info-layout textarea {

    width: 100%;
    
    
    }      





    .info-button:hover {
        color:#e7ba48 !important;
        cursor: pointer !important;
    }


    .contact_card_1 {
      min-height: 600px;
      background-image: url('../assets/images/newcontactcomponent/jonathan-tasman-DEGGHGwDuik-unsplash 4 (2)-min.png');
      background-size: cover; /* Ensures the image covers the entire area */
      background-repeat: no-repeat; /* Prevents the background from repeating */
      background-position: center; /* Centers the image */
      padding-top: 6%;
      padding-left: 5%;
      width: 100%; /* Ensures the width of the container is 100% */
    }
    

.new_contact_heading_one {

font-size: 85px;
color: white;


}
.new_contact_heading_2 {

  font-size: 52px;
  color: white;
  font-weight: 250;
  


}

.contact_card_1 {
  min-height: 600px;
  background-image: url('../assets/images/newcontactcomponent/jonathan-tasman-DEGGHGwDuik-unsplash 4 (2)-min.png');
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-position: center; /* Centers the image */
  padding-top: 6%;
  padding-left: 5%;
  width: 100%; /* Ensures the width of the container is 100% */
}



@media (max-width: 1250px) {

  
  .contact_card_1{
  
    min-height: 500px;
  }

}


@media (max-width: 830px) {

  
  .contact_card_1{
  
  min-height: 350px;
  padding-top: 4%;


  }

}

@media (max-width: 480px) {

  
  .contact_card_1{
  
  min-height: 180px !important;
  padding-top: 4%;


  }

  .new_contact_heading_one {

    font-size: 36px;
    color: white;
    
    
    }
    .new_contact_heading_2 {
    
      font-size: 22px;
      color: white;
      font-weight: 250;
      
    
    
    }
    






}








