/* .footer_main_div {

display: grid;
grid-template-rows: 1fr 2fr;


} */


.footer_heading {

font-size: 45px;
color: white;
text-align: center;
font-weight: bold;



}

.footer_heading span {

    font-size: 45px;
    color: #e9be49;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    
    
    }

    .image_div {

display: flex;
justify-content: center;
align-items: center;
min-height: 280px;

    }

.span_1 {

color: #867878 !important;
font-weight: bold !important;
font-size: 60px !important;


}

.footer_main_data {

display: grid;
grid-template-columns: 1.2fr 1fr;
align-items: center;
min-height: 350px;
padding-top: 3%;



}


.footer_div1 {
    display: flex;
    flex-direction: column; /* Arranges children in a column */
    justify-content: flex-start; /* Aligns children to the top vertically */
    align-items: left; /* Centers children horizontally */
    min-height: 350px;
    gap: 15px;
    padding-top: 0; /* Optional: Adjust as needed */
    padding-left: 20%; /* Optional: Adjust as needed */
    padding-right: 20%; /* Optional: Adjust as needed */
    position: relative;
  }
      
.footer_div1 button {

width: 168px;
background-color: #05021F;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px !important;
  border: none;
  color: #e0e0e0 !important;
  font-size: 16px;
  font-weight: 600 !important;
    
  /* Box shadow for bottom and right */
    
    
    }


.footer_div1 button:hover {

    color: #e4b747 !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: 600 !important;


}



.footer_div1 p {

font-size: 16px;
font-weight: 600 !important;
    
    }





    .icons_div1 {
        position: absolute;
        bottom: 0; /* Aligns the div to the bottom of the parent */
        left: 0; /* Optional: Aligns it to the left of the parent */
        width: 100%; /* Optional: Makes the div span the full width of the parent */
        text-align: center;
        padding-left: 20%;
        
        /* Optional: Centers content inside the div */
      }    




      .footer_logo1 {

width: 200px;
height: auto;

      }


.footer_div2 {

display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
min-height: 350px;
}      




.navigation_div{

display: flex;
flex-direction: column  ;
justify-content: flex-start;
align-items: left;
min-height: 350px;
gap: 20px;


}

.contact_us_div {


    display: flex;
    flex-direction: column  ;
    justify-content: flex-start;
    align-items: center;
    min-height: 350px;
    gap: 20px;
    

}



.navigation_div h4 {


font-size: 16px;
font-weight: 600;
text-align: left !important;
color: #646262;



}


.navigation_div h1 {


font-size: 24px;
font-weight: 600;
text-align: left !important;
color: #05021F;



} 



.footer_copyright h3{

font-size: 14px;
color: #1A1D1FB0;
font-weight: 600;
text-align: center;
padding-top: 20px;


}

