.diagonal-image-container {
  position: relative;
  width: 100%; /* Full viewport width */
  height: 80vh; /* Auto height */
  overflow: hidden; /* Hide any overflowing content */

  box-sizing: border-box;
}

.diagonal-image_sg {
  display: block; /* Remove default inline spacing for SVGs */
  height: auto;
  position: absolute;
  width:104%;
  margin-top: -1.4% !important;
  right: 0;
}

.landing-content1 {

display: flex;
flex-direction: column;
justify-content: center;
align-items: left !important;
width: 60%;
gap: 40px;
margin-top: 5%;
padding-left: 5%;


}

.landing-content1 h2 {

  font-size: clamp(20px, 5vw + 10px, 52px);

  font-weight: 700;
  color: rgba(30, 30, 30, 1);
  width: 100%;
  
  }
  .landing-content1 h4 {

    font-size: 18px;
    font-weight: 700;
    color: rgba(30, 30, 30, 1);
    width: 70%;
    
    }


    .landing-content1 button {

      
background-color: rgba(52, 71, 104, 1);
padding: 10px;
color: white;
font-size: 16px;
width: 150px;
margin-top: 20px;
border: none;
box-shadow: none;

      }
    
    


      .image-container {
        position: absolute;
        right: 4%;
        top: 50%;
        transform: translateY(-45%); /* Centers the image vertically */
         /* Adjust the width of the image */
         width: 750px;
      }
      
      .image-container img {
        width: 100%;
        
        /* Make image responsive */
        height: auto;
        border-radius: 8px; /* Optional, for rounded corners */
      }





      @media (max-width: 480px) {

        .tailored_container {
          margin-top: 0px !important;
        }
      
        .landing-content1 h2 {
          font-size: 20px !important;
          margin: 0 !important;
          padding: 0 !important;
        }
      
        .landing-content1 h4 {
          display: none !important;
        }
      
        .landing-content1 {
          width: 115% !important;
          gap: 10px !important;
          margin-top: 6% !important;
        }
      
        .landing-content1 button {
          background-color: rgba(52, 71, 104, 1) !important;
          padding: 3px !important;
          color: white !important;
          font-size: 11px !important;
          font-weight: 300 !important;
          width: 70px !important;
          margin-top: 5px !important;
          border: none !important;
          box-shadow: none !important;
          border-radius: 5px !important;
        }
      
        .svg_clippath {
          /* Apply the linear gradient with more intensity at the top */
          background: linear-gradient(180deg, #05021F 40.5%, rgba(255, 255, 255, 0) 100%) !important;
          
          /* Apply the clip-path property */
          clip-path: polygon(
            100% 0%, 100% 0%, 99.554% 1.033%, 98.195% 3.896%, 95.892% 8.239%, 
            92.617% 13.708%, 88.339% 19.951%, 83.027% 26.617%, 76.652% 33.353%, 
            69.182% 39.807%, 60.589% 45.627%, 50.842% 50.461%, 50.842% 50.461%, 
            41.049% 54.824%, 32.33% 59.438%, 24.676% 64.257%, 18.077% 69.237%, 
            12.521% 74.334%, 7.998% 79.502%, 4.499% 84.698%, 2.012% 89.875%, 
            0.527% 94.991%, 0.032% 100%, 100% 99.194%, 100% 0%
          ) !important;
          
          /* Ensure the div's size is set to see the background */
          width: 100% !important;
          height: 34vh !important; /* Adjust as needed */
        }
      
        .image-container {
          position: absolute !important;
          right: 0px !important;
          top: 30% !important;
          transform: translateY(-50%) !important; /* Centers the image vertically */
          width: 60% !important; /* Adjust the width of the image */
        }
      
        .landing-content {
          position: absolute !important;
          left: 0 !important;
          top: 20% !important;
          transform: translateY(-50%) !important;
        }
      
        .image-container img {
          width: 100% !important; /* Make image responsive */
          height: auto !important;
          border-radius: 8px !important; /* Optional, for rounded corners */
        }
      
        .custom_tailored_heading h3 {
          font-size: 24px !important;
          padding: 0 !important;
          margin: 0 !important;
          padding-top: 15px !important;
          padding-right: 10px;
          padding-left: 10px;
        }
      
        .diagonal-image-container {
          height: 340px !important;
        }
      
      }
      
.custom_tailored_heading h3 {

text-align: center;
color:rgba(30, 30, 30, 1);
font-weight: 700;


}


/* .custom_tailored_heading {

  margin-top: 2%;
  
  } */
  




  .svg_clippath {
    /* Apply the linear gradient with more intensity at the top */
    background: linear-gradient(180deg, rgba(5, 2, 31, 1) 40.5%, rgba(255, 255, 255, 0) 90%);
    
    /* Apply the clip-path property */
    clip-path: polygon(
      100% 0%, 100% 0%, 99.56% 1.033%, 98.195% 3.896%, 95.892% 8.239%, 
      92.617% 13.708%, 88.339% 19.951%, 83.027% 26.617%, 76.652% 33.353%, 
      69.182% 39.807%, 60.589% 45.627%, 50.842% 50.461%, 50.842% 50.461%, 
      41.049% 54.824%, 32.33% 59.438%, 24.676% 64.257%, 18.077% 69.237%, 
      12.521% 74.334%, 7.998% 79.502%, 4.499% 84.698%, 2.012% 89.875%, 
      0.527% 94.991%, 0.035% 100%, 100% 99.194%, 100% 0%
    );
    
    /* Ensure the div's size is set to see the background */
    width: 100%;
    height: 100vh; /* Adjust as needed */
  }
  




  .landing-content {



    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
  }


  @media (min-width: 480px) and (max-width: 768px) {
    .landing-content1 h4 {
        display: none !important;
    }


.image-container  {
width: 510px;

}

.svg_clippath {

height: 62vh;

}

.landing-content1 h2 {
  font-size: 32px;
}

.landing-content1 {

width: 400px;


}
  }




  @media (min-width: 768px) and (max-width: 1020px) {
    .landing-content1 h4 {
        display: none !important;
    }


.image-container  {
width: 510px;

}

.svg_clippath {

height: 550px !important;

}

.landing-content1 h2 {
  font-size: 45px;
}

.landing-content1 {

width: 450px !important;


}
.landing-content {


top: 22% !important;

}

.landing-content1 h2 {

font-size: 35px !important;


}



.image-container {

top: 30% !important;
width: 450px !important;

}




  }


  @media (min-width: 1020px) and (max-width: 1300px) {
    .landing-content1 h2 {
      font-size: 42px;
      font-weight: 700;
      color: rgba(30, 30, 30, 1);
      width: 150%;
    }
    .svg_clippath {

      height: 100vh;
      
      }
      

      .landing-content {


        top: 40% !important;
        
        }

        .image-container {

          top: 45%;
          
          }
          
.image-container  {
  width: 450px;
  
  }
  

        

  }


  @media (min-width: 481px) and (max-width: 768px) {
    .landing-content1 h4 {
        display: none !important;
    }


.image-container  {
width: 300px;

}

.svg_clippath {

height: 65vh;

}

.landing-content1 h2 {
  font-size: 32px;
}

.landing-content1 {

width: 455px;


}
.landing-content {


top: 35% !important;

}

.image-container {

top: 40%;

}




  }

