

@media(max-width:1000px){
    .steps-cards {
        flex-direction:column;
        align-items: center;
    }

    .steps-flow-vector {
        display: none;
    }
}

@media (max-width:600px){
    .steps-heading {
        font-size: 36px;
        padding: 0 10%;
    }
}