
.steps-section {
    background-color: #ffffff;
    text-align: center;
    padding-top: 2.5%;
}

.tagline {
    font-size: 28px ;
    color: #1e1e1e ;
    margin-bottom: 0 ;
    font-weight: 600;
}
.steps-heading {
    font-size: 48px;
    color: #1e1e1e;
    font-weight: bold;
    margin-bottom: 66px;
}

.steps-golden-heading {
    background: linear-gradient(
        180deg, 
        #F9E391 0%, 
        #EDC34A 55%, 
        #E9BD49 70%, 
        #E4B649 90%, 
        #D4A041 100%
      );

    background-clip: text;
    -webkit-background-clip: text; /* Apply gradient to text */
    -webkit-text-fill-color: transparent; 
    font-weight:bold !important;
}
.steps-cardsnvector{
    position:relative;
    text-align: center;
}

.steps-flow-vector {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:0;
    z-index: 0;
    width:100%;
   
}
.steps-cards {

    display: flex;
    justify-content: center;
    gap:44px;
    max-width: 1200px;
    margin:auto;
    margin-bottom:95px;
    position: relative; /* Ensures the cards have their own stacking context */
    z-index: 1;
    
}




.steps-card{
    background-color: #ffffff;
    padding:75px 10px 55px;
    max-width: 264px;
    box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.075);
    position:relative;
    z-index:2;
    min-width:264px !important;

}
.steps-icon {
    margin-bottom: 30px;
}

.steps-description {
    font-size: 16px;
    line-height: 24px;
    max-width: fit-content;
}

.steps-number {
    border-radius: 50%;
    width: 48px;
    height:48px;
    background-color: #05021F;
    position:absolute;
    color: white;
    top:0;
    left:50%;
    transform:translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}