.tailored_container{
    display: grid;
    grid-template-rows: 1fr 1fr;;
    gap: 20px;
    padding: 20px;
    min-height: 800px !important;
    height: auto;
    margin-top: 0.5rem;
}


.second_row {

display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;



}

.first_row {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    
    }

.image_button_div {

background: transparent;
color: white;
font-size: 16px !important;
font-weight: 400;
border: none;



}


.image_hover_done:hover h2{
    color: #e4b749 !important;
    
    transition: all 0.3s ease;
}

.image_hover_done:hover button{
    color: #e4b749 !important; 
    transition: all 0.3s ease;
}



.custom_tailored_heading h3 {

font-size: 48px;
color: rgba(30, 30, 30, 1);



}