.driver_car_div {

min-height: 450px;
background-color: #05021f;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 10px;

}


.icons_list_drivers {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    
}

.icons_list_drivers li {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align icon and text */
    margin: 10px 0; 
    gap: 10px;
    /* Add some space between items */
  }




.driver_car_div h2 {

    color: white;
    font-size: 50px;
    
    
    }



.driver_car_div:hover h2 {

  color: #e7ba48;
  font-size: 50px;
  cursor: pointer;
  
  
  }


    
.chauffer_2enh {

width: 35%;
height: auto;
padding-bottom: 3%;

}    

.passenger_icons_list {

min-height: 250px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;

}

@media (max-width: 768px) {
  .passenger_icons_list {
    min-height: auto; /* Adjust height as needed */
    gap: 20px; /* Reduce gap for smaller screens */
    padding-top: 20px; /* Reduce padding */
    padding-right: 8%; /* Increase padding for smaller screens */
    padding-left: 8%;
  }
.small_cards_white{
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  grid-template-rows: repeat(2, 1fr) !important;
  row-gap: 20px !important;
  column-gap: 20px !important;
  justify-items: center !important;
  align-items: center !important;
  min-height: 280px;
}
.box_small_card {
  height: 100% !important;
  width: 100% !important;
  display: flex
;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car_selected_description {


padding-right: 8%;
padding-left: 8%;

}


.payment_div{

  padding-right: 8%;
  padding-left: 8%;
  

}


.chauffer_2enh{

max-width: 300px;
width: 100%;

}

.driver_car_div h2 {
  color: white;
  font-size: 32px;
} 
.icons_list_drivers li {
 
  font-size: 12px;
  

}
.icons_list_drivers {
 
  gap: 8px !important;

}


.driver_car_div {

min-height: 350px !important;


}
.driver_car_div:hover h2 {

  color: #e7ba48;
  font-size: 32px;
  cursor: pointer;






}


.chauffer_2enh {

padding-bottom: 40px !important;


}


.driver_car_div {

  min-height: 350px !important;
  background-color: #05021f;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  
  }
  









}












.small_cards_white {

display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
gap: 1.5%;
padding: 0;
list-style: none;
width: 100%;
max-width: 680px;
margin: 0 auto !important;


}

.box_small_card h4 {
    display: flex; /* Make the container a flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center align the content horizontally */
    gap: 15px;
    font-size: 14px;
    /* Space between icon and text */
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .box_small_card h4 i {
    color: black; /* Optional: Customize the icon color */
    font-size: 22px; /* Adjust the size of the icon */
  }
  

  .box_small_card {
    height: 100px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on all sides */
  }
  
.car_selected_description {
min-height: 250px;    
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
max-width: 650px;
margin: 0 auto; /* Changed from auto 0 to 0 auto to center horizontally */
}


.table_left {

display: flex;
flex-direction: column-reverse;
justify-content: left;
align-items: left;


}

.table_right {

    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
    align-items: right !important;
    
    
    }
    

.table_right h5 {

        text-align: right;
        font-size: 16px;
        font-weight: 400;
        color: rgba(85, 85, 85, 1);
    }    
    .table_left h5 {

        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: rgba(85, 85, 85, 1);
        
    }    


.payment_div{


min-height: 400px;
display: flex;
justify-content: center;
align-items: center;
width: 100%;


}

.payment_form {

max-width: 650px !important;
margin: 0 auto !important;
width: 100% !important;
padding-bottom: 60px;
padding-top: 50px;
}








.form-group.form-control {
background-color: #f9f9f9;
border: none !important;

}

.last_div{


display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
gap: 20px;
width: 100%;


}

.last_div div{


    
    width: 100%;
    
    
    }
.payment_button {


width: 100%;
border: none;
background-color: #05021F;
color: #e7ba48;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
font-size: 16px;
font-weight: 600;


}

.car_name1 {


  color: #e7ba48 !important;

}
    
    
    
    
    
    