@media screen and (max-width: 1250px) {
  .cards_div_transfer {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, auto) !important;
    gap: 30px;
    margin: 0 auto;
    height: auto;
    padding-right: 10% !important;
    padding-left: 10% !important;
    padding-bottom: 40px;
    justify-items: center !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 800px) {
  .cards_div_transfer {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, auto) !important;
    gap: 30px;
    margin: 0 auto;
    height: auto;
    padding-right: 20% !important;
    padding-left: 20% !important;
    padding-bottom: 40px;
    justify-items: center !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .contact_card1 h2 {
    font-size: 3.5vw !important;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }

  .contact_card1 h4 {
    font-size: 2.5vw !important;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contact_card1_form1 {
    display: grid !important;
    grid-template-rows: 1fr 1fr !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 10px !important;
    
    padding-right: 30px;
    padding-left: 30px;
  }
  .contact_div {
    width: 100% !important;
  }

  .contact_div1 {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact_div1 button {
    width: 180px !important;
    margin-top: 0 !important;
  }

  .footer_logo1 {
    padding-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .cards_div_transfer {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(2, auto) !important;
    gap: 30px !important;
    margin: 0 auto !important;
    height: auto !important;
    padding: 0;
    width: 100%;
    max-width: 100%;
    justify-items: center !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .card_transfer12 {
    margin-right: 30px;
    margin-left: 30px;
    min-width: 320px !important;
  }

  .custom_page2 {
    height: 550px !important;
  }

  .contact_card1 h2 {
    font-size: 6vw !important;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }

  .contact_card1 h4 {
    font-size: 4vw !important;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contact_card1_form1 {
    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
    grid-template-columns: none !important;
    gap: 10px !important;
  }

  .contact_div {
    width: 100% !important;
  }

  .contact_div1 {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem !important;
  }
  .contact_div1 button {
    width: 160px !important;
    margin-top: 0 !important;
    
  }

  .footer_logo1 {
    padding-top: 5px !important;
  }
}
